//colors
$color-primary: #D49253;
$color-primary-light: #eeac76;
$color-primary-dark: #bb7943;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary: #A123AD;
$color-tertiary-light: #BB3DC7;
$color-tertiary-dark: #880A94;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-green: #07a707;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font
$default-font-size: 1.6rem;

//shadows
$box-shadow: 0 1.5rem 4rem rgba(#000, 0.55);
$box-shadow-light: 0 1.5rem 4rem rgba(#000, 0.1);
$border-radius: 3px;
