.header {
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);



  &__slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-blend-mode: screen;
  }

  &__slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite;
  }

  &__slideshow li:nth-child(1) {
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url("https://images.unsplash.com/photo-1534531304203-b830551771b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80");
    background-blend-mode: color;
  }

  &__slideshow li:nth-child(2) {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url("https://images.unsplash.com/photo-1520045892732-304bc3ac5d8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    animation-delay: 10s;
    background-blend-mode: color;
  }

  &__slideshow li:nth-child(3) {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url("https://images.unsplash.com/photo-1478427433968-28045906c1dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    animation-delay: 20s;
    background-blend-mode: color;
  }


  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    z-index: 3;
  }

  &__logo {
    height: 6.5rem;
  }

  &__text-box {
    position: absolute;
    display: inline-block;
    width: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
  }


}
