.section-favorites {
  background-color: $color-grey-light-1;
  padding: 30rem 0 10rem 0;
  margin-top: -15vh;
}

.section-styles {
  padding: 20rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-secondary-light, 0.8),
                  rgba($color-secondary-dark, 0.8)),
  url("https://images.pexels.com/photos/1769553/pexels-photo-1769553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-blend-mode: color;
  //background-position: left 0 bottom -20rem;
  margin-top: -10rem;
  transform: skewY(-7deg);
  position: relative;

  & > * {
    transform: skewY(7deg);
  }

}


.section-boards {
  background-color: $color-grey-light-1;
  background-size: cover;
  padding: 25rem 0 15rem 0;
  margin-top: -20rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-signup {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.6), rgba($color-primary-dark, 0.9));
}

.book {
  background-image: linear-gradient(105deg,
          rgba($color-white, .95) 0%,
          rgba($color-white, .95) 50%,
          transparent 50%),
  url("https://images.unsplash.com/photo-1485814082842-a30d1628c44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1260&q=80");
  background-size: 100%;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
